.vs/
FundooNotes/BusinesssLayer/bin
FundooNotes/BusinesssLayer/obj
FundooNotes/CommonLayer/obj
FundooNotes/CommonLayer/bin
FundooNotes/RepositoryLayer/obj
FundooNotes/RepositoryLayer/bin
FundooNotes/FundooNotes/bin
FundooNotes/FundooNotes/obj